<nav>
  <ul>
    <li><a routerLink="/homepage">Home</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/books">Books</a></li>
    <li><a routerLink="/pizzas">Pizzas</a></li>
  </ul>
</nav>

<hr>

Pages avec Gardes
<nav>
  <ul>
    <li><a routerLink="/page-yes">Page Yes</a></li>
    <li><a routerLink="/page-no">Page No</a></li>
    <li><a routerLink="/page-maybe">Page Maybe</a></li>
  </ul>
</nav>

<hr>

<router-outlet></router-outlet>